In [1]:
import pandas as pd
import numpy as np
import scipy as sc
import datetime
import os
import re

# DECLARING GLOBAL VARIABLES

constants = set([ 'COMM', 'DUPLEX', 'GARDEN', 'PH', 'RES', 'TH', 'UNIT'])
remove = set(['FLR', 'FL', 'UNIT', 'APT'])
mod_listings = [] # np.zeros((len(listings), len(listings.iloc[0])+1))
mod_closings = [] # np.zeros((len(closings), len(closings.iloc[0])+1))

In [2]:
# READING CSV INTO DATAFRAME

def start():
    listings = pd.read_csv('listings.csv', header='infer', sep=',',index_col=None)
    closings = pd.read_csv('closings.csv', header='infer', sep=',',index_col=None)
    listings['list_date'] = pd.to_datetime(listings['list_date'], format="%Y-%m-%d").dt.floor('d')
    closings['close_date'] = pd.to_datetime(closings['close_date'], format="%Y-%m-%d")
    closings['close_price'] = closings['close_price'].astype('int64')
    listings = listings.dropna()
    closings = closings.dropna()

#     print(listings.dtypes)
#     print()
#     print(closings.dtypes)
    print(listings.head())
    print(closings.head())
    return listings, closings

In [3]:
# VALIDATION AND PARSING FUNCTIONS

def date_validation(listing_date, closing_date):
    return (listing_date < closing_date)

def price_validation(list_price, close_price):
    if close_price < (list_price * 1.4):
        return True
    return False

def parse_digit(apt, unit_nums, apt_nums):
    
    # 105, 1106
    if len(apt) > 2:
        unit_nums.append(str(int(apt[:-2]))) # remaining digits
        apt_nums.append(str(int(apt[-2:]))) # last 2 digits
    
    # 5, 11
    else:
        unit_nums.append("N/A")
        apt_nums.append(apt)
    
    return unit_nums, apt_nums

def parse_alphanumeric(apt, unit_nums, apt_nums):
    
    # APT 10, APT10, 3FLR, 
    for string in remove:
        if string in apt:
            apt = apt.replace(string, "")
            return parse_apartment_number(apt, unit_nums, apt_nums)

    # PH03, GARDENA
    for string in constants:
        if string in apt:
            unit_nums.append(string)
            apt = apt.replace(string, "")
            apt_nums.append(apt)
            return unit_nums, apt_nums
    
    if len(apt) > 0:
        # N6, 31C regex extract char, append resp
        r1 = re.compile("([0-9]+)([a-zA-Z]+)")
        r2 = re.compile("([a-zA-Z]+)([0-9]+)")
        m1 = r1.match(apt)
        m2 = r2.match(apt)
#         l = 0

        if m1:
            unit_nums.append(m1.group(1))
            apt_nums.append(m1.group(2))
            l = len(m1.group(1)) + len(m1.group(2))
#             if(l > 0):
#                 unit_nums, apt_nums = parse_alphanumeric(m1[-l:], unit_nums, apt_nums)
        elif m2:
            unit_nums.append(m2.group(2))
            apt_nums.append(m2.group(1))
            l = len(m2.group(1)) + len(m2.group(2))
#             if(l > 0):
#                 unit_nums, apt_nums = parse_alphanumeric(m2[-l:], unit_nums, apt_nums)
    
    
    # Additive 2EF, 11D12E, 1213A
    
    return unit_nums, apt_nums

def parse_spec_chars(apt, unit_nums, apt_nums):
    
    if('-' in apt):
        apt = apt.replace('-','')
        return parse_apartment_number(apt, unit_nums, apt_nums) 
    
    elif(',' in apt):
        split_apt = apt.split(",")
        unit_nums0, apt_nums0 = parse_apartment_number(split_apt[0], unit_nums, apt_nums)
        unit_nums1, apt_nums1 = parse_apartment_number(split_apt[1], unit_nums, apt_nums)
        unit_nums = unit_nums0 + unit_nums1
        apt_nums = apt_nums0 + apt_nums1
        return unit_nums, apt_nums
    
    elif('/' in apt):
        split_apt = apt.split("/")
        
        # 1101/02/03 
        if len(split_apt[0]) > len(split_apt[1]):
            result = [split_apt[0]]
            for element in split_apt[1:]:
                result.append(split_apt[0][:-len(element)] + element)
            for item in result:
                apt_nums.append (item[len(split_apt[1]):])
                unit_nums.append(item[0:len(split_apt[1])])
        
        # 22/23A 2/3CD
        elif len(split_apt[1]) > len(split_apt[0]):
            result = []
            for element in split_apt[0:1]:
                result.append(element + split_apt[1][len(element):] )
                result.append(split_apt[1])
                for item in result:
                    apt_nums.append (item[len(split_apt[0]):])
                    unit_nums.append(item[0:len(split_apt[0])])
        
        # 2/3 22/C
        elif len(split_apt[1]) == len(split_apt[0]):
            unit_nums0, apt_nums0 = parse_apartment_number(split_apt[0], unit_nums, apt_nums)
            unit_nums1, apt_nums1 = parse_apartment_number(split_apt[1], unit_nums, apt_nums)
            unit_nums = unit_nums0 + unit_nums1
            apt_nums = apt_nums0 + apt_nums1
    
    return unit_nums, apt_nums

def parse_apartment_number(apt, unit_nums, apt_nums):
    
    if ('/' in apt or '-' in apt or ',' in apt):
        unit_nums, apt_nums = parse_spec_chars(apt, unit_nums, apt_nums)
    
    elif (apt.isdigit()):
        unit_nums, apt_nums = parse_digit(apt, unit_nums, apt_nums)

    elif (apt.isalnum()):
        apt = apt.upper()
        unit_nums, apt_nums = parse_alphanumeric(apt, unit_nums, apt_nums)

    if len(unit_nums) == len(apt_nums):
        return unit_nums, apt_nums
    
    return None, None

In [4]:
# MODIFYING DATAFRAMES - DENORMALIZATION

def generate_data_point(row_id, bldg_id, unit_nums, apt_nums, price, row_date, table_id, apa_number):
    
    # Table_id : 1 for Listings
    # Table_id : 2 for Closings
    for i in range(len(apt_nums)):
        list_id = row_id
        building_id = bldg_id
        unit = unit_nums[i]
        apt = apt_nums[i]
        price = price/len(apt_nums) # ASSUMPTION
        date = row_date
        apa = apa_number
        
        if(table_id==1):
            # append to mod_listings
            mod_listings.append(np.array([list_id,price, date, building_id, unit, apt, apa]))
            
        else:
            # append to mod_closings
            mod_closings.append(np.array([list_id,price, date, building_id, unit, apt, apa]))

def modify_listings(listings):
    for i in range(len(listings)):
        try:
            unit_nums, apt_nums = parse_apartment_number(listings.iloc[i]['apartment_number'], [], [])
            generate_data_point(listings.iloc[i]['listing_id'], 
                                listings.iloc[i]['building_id'], 
                                unit_nums,
                                apt_nums,
                                listings.iloc[i]['list_price'], 
                                listings.iloc[i]['list_date'], 1,
                                listings.iloc[i]['apartment_number'])
        except:
            print("excpet")
            print(listings.iloc[i]['listing_id'], listings.iloc[i]['apartment_number'])
    return mod_listings
    
def modify_closings(closings):
    for i in range(len(closings)):
        try:
            unit_nums, apt_nums = parse_apartment_number(closings.iloc[i]['apartment_number'], [], [])
            generate_data_point(closings.iloc[i]['closing_id'], 
                                closings.iloc[i]['building_id'], 
                                unit_nums,
                                apt_nums,
                                closings.iloc[i]['close_price'], 
                                closings.iloc[i]['close_date'], 2,
                                closings.iloc[i]['apartment_number'])
        except:
            print(closings.iloc[i]['closing_id'], closings.iloc[i]['apartment_number'])
    return mod_closings

In [5]:
# FUNCTION MAIN

listings, closings = start()
# modify_listings(listings)

list_cols = ["list_price", "list_date", "building_id", "unit", "apartment"]
close_cols = ["close_price", "close_date", "building_id", "unit", "apartment"]


# new_listings = pd.DataFrame(mod_listings)
# new_listings.columns = list_cols
# print(new_listings.head())

   listing_id  building_id apartment_number  list_price  list_date
0           1            7               PH     2300000 2018-08-02
1           2            7               14     2295000 2018-03-26
2           3           14             PH-4      685000 2017-11-21
3           4           14             1206      560000 2015-04-11
4           5           14             1407      585000 2015-04-14
   closing_id  building_id apartment_number  close_price close_date
0           1            6             COMM     19000000 2016-04-15
1           2            6         COMM,RES     30150000 2014-10-27
2           3            6              RES     26750000 2017-07-20
3           4            6              RES     26750000 2017-07-20
4           5            6              RES     26750000 2017-07-20

In [6]:
mod_listings = modify_listings(listings)
new_listings = pd.DataFrame(mod_listings)
print(new_listings)

           0          1          2       3    4   5     6
0          1  2300000.0 2018-08-02       7   PH        PH
1          2  2295000.0 2018-03-26       7  N/A  14    14
2          3   685000.0 2017-11-21      14   PH   4  PH-4
3          4   560000.0 2015-04-11      14   12   6  1206
4          5   585000.0 2015-04-14      14   14   7  1407
5          6   560000.0 2016-02-02      14   PH  03  PH03
6          7   575000.0 2017-02-02      14    5   8   508
7          8   925000.0 2018-04-30      14    4   9   409
8          9   629000.0 2014-09-18      14    9   4   904
9         10  1050000.0 2015-01-10      14   10   9  1009
10        11  1900000.0 2016-11-30      14    8   5   805
11        12  1995000.0 2015-12-03      14   13   5  1305
12        13   525000.0 2015-05-05      14    8   3   803
13        14   575000.0 2015-05-11      14   13   3  1303
14        15   659000.0 2016-11-28      14   13   2  1302
15        16   618000.0 2017-01-09      14   13   7  1307
16        17   615000.0 2017-01-19      14   10   2  1002
17        18   570000.0 2017-11-26      14    8   7   807
18        19   598000.0 2016-10-11      14   PH  08  PH08
19        20   695000.0 2017-03-17      14    3   4   304
20        21   899000.0 2014-07-07      14   14   9  1409
21        22   575000.0 2017-06-03      14    5   3   503
22        23   499000.0 2014-01-17      14    5   7   507
23        24  1400000.0 2014-02-11      14    4   5   405
24        25  1195000.0 2016-07-07      14    3   1   301
25        26   595000.0 2017-05-30      14    7   3   703
26        27  1295000.0 2018-08-16      14   10   1  1001
27        28  1195000.0 2017-06-03      14    2   1   201
28        29  1150000.0 2014-05-16      14    7   1   701
29        30   639000.0 2018-04-18      14    7   4   704
...      ...        ...        ...     ...  ...  ..   ...
60063  59776   735000.0 2018-08-01  853902    2   H    2H
60064  59777   495000.0 2018-06-14  853902    4   B    4B
60065  59778   598000.0 2018-08-15  853902    2   D    2D
60066  59779   498000.0 2018-06-13  853902    3   A    3A
60067  59780   615000.0 2018-06-13  853902    3   G    3G
60068  59781   695000.0 2018-06-14  853902    3   H    3H
60069  59782   648000.0 2018-06-14  853902    4   G    4G
60070  59783   668000.0 2018-06-13  853902    3   E    3E
60071  59784   528000.0 2018-07-25  853902    4   A    4A
60072  59785   450000.0 2018-06-05  853902    2   C    2C
60073  59786   978000.0 2018-07-02  853902   PH   1   PH1
60074  59787   648000.0 2018-06-14  853902    4   D    4D
60075  59788   480000.0 2018-06-13  853902    3   B    3B
60076  59789   470000.0 2018-06-14  853902    4   C    4C
60077  59790   788000.0 2018-06-15  853902   PH   4   PH4
60078  59791   438000.0 2018-06-08  853902    2   B    2b
60079  59792   690000.0 2018-06-05  853902    2   G    2G
60080  59793  1350000.0 2016-10-10  863778    2   4   204
60081  59794  1050000.0 2016-09-14  863778    5   4   504
60082  59795   790000.0 2016-09-14  863778    3   2   302
60083  59796   810000.0 2016-09-14  863778    4   2   402
60084  59797   810000.0 2016-12-09  863778    4   1   401
60085  59798   820000.0 2016-08-17  863778    3   3   303
60086  59799   940000.0 2016-08-17  863778    3   4   304
60087  59800   960000.0 2016-08-29  863778    4   4   404
60088  59801  1120000.0 2016-08-29  863778    4   5   405
60089  59802   830000.0 2016-12-09  863778    5   2   502
60090  59803  1100000.0 2016-08-22  863778    3   5   305
60091  59804   790000.0 2016-08-11  863778    3   1   301
60092  59805   875000.0 2018-05-30  863778    5   1   501

[60093 rows x 7 columns]

In [7]:
mod_closings = modify_closings(closings)
new_closings = pd.DataFrame(mod_closings)
print(new_closings)

           0             1          2       3     4   5         6
0          1  1.900000e+07 2016-04-15       6  COMM          COMM
1          2  7.537500e+06 2014-10-27       6  COMM      COMM,RES
2          2  1.884375e+06 2014-10-27       6   RES      COMM,RES
3          2  4.710938e+05 2014-10-27       6  COMM      COMM,RES
4          2  1.177734e+05 2014-10-27       6   RES      COMM,RES
5          4  2.675000e+07 2017-07-20       6   RES           RES
6          5  2.675000e+07 2017-07-20       6   RES           RES
7          6  2.200000e+06 2017-12-21       7   N/A   2       FL2
8          7  4.700000e+05 2016-04-13       7   N/A   5         5
9          8  5.801000e+05 2017-11-10      14     5   3       503
10         9  1.000000e+01 2018-07-13      14    12   8      1208
11        10  6.350000e+05 2018-02-28      14     8   4       804
12        11  1.285250e+06 2014-08-15      14     7   1       701
13        12  1.220000e+06 2018-08-10      14    14   5      1405
14        13  1.900000e+06 2016-08-18      14    13   5      1305
15        14  1.855000e+06 2017-02-16      14     8   5       805
16        15  1.160000e+06 2017-09-13      14     2   1       201
17        16  6.150000e+05 2017-06-02      14    10   2      1002
18        17  1.139000e+06 2017-01-20      14     3   1       301
19        18  5.060000e+05 2018-05-08      14     8   7       807
20        19  5.150000e+05 2014-04-24      14     5   7       507
21        20  5.250000e+05 2018-05-29      14     5   6       506
22        21  5.220000e+05 2018-06-12      14    11   6      1106
23        22  6.500000e+05 2018-06-15      14    PH  04      PH04
24        23  5.850000e+05 2015-05-08      14    14   2      1402
25        24  9.780000e+05 2014-10-08      14    14   9      1409
26        25  6.150000e+05 2015-06-23      14     9   4       904
27        26  5.950000e+05 2017-08-10      14     7   3       703
28        27  5.800000e+05 2015-07-17      14    13   3      1303
29        28  5.650000e+05 2017-06-05      14     5   8       508
...      ...           ...        ...     ...   ...  ..       ...
84683  79728  3.500234e+03 2017-03-27  863778     3   P    402,P3
84684  79729  8.044170e+05 2017-03-31  863778     3   2       302
84685  79730  1.176078e+06 2017-05-12  863778     5   5       505
84686  79731  9.776450e+05 2017-04-24  863778     4   4       404
84687  79732  9.776450e+05 2017-04-26  863778     3   4       304
84688  79733  3.054750e+05 2017-06-07  863778     3   5    305,P4
84689  79733  7.636875e+04 2017-06-07  863778     4   P    305,P4
84690  79733  1.909219e+04 2017-06-07  863778     3   5    305,P4
84691  79733  4.773047e+03 2017-06-07  863778     4   P    305,P4
84692  79734  3.436592e+05 2017-05-17  863778     2   4    204,P6
84693  79734  8.591481e+04 2017-05-17  863778     6   P    204,P6
84694  79734  2.147870e+04 2017-05-17  863778     2   4    204,P6
84695  79734  5.369676e+03 2017-05-17  863778     6   P    204,P6
84696  79735  1.140440e+06 2017-03-29  863778     4   5       405
84697  79736  2.237915e+05 2017-04-25  863778     3   3    303,P2
84698  79736  5.594788e+04 2017-04-25  863778     2   P    303,P2
84699  79736  1.398697e+04 2017-04-25  863778     3   3    303,P2
84700  79736  3.496742e+03 2017-04-25  863778     2   P    303,P2
84701  79737  2.151052e+05 2017-04-11  863778     3   1    301,P7
84702  79737  5.377631e+04 2017-04-11  863778     7   P    301,P7
84703  79737  1.344408e+04 2017-04-11  863778     3   1    301,P7
84704  79737  3.361020e+03 2017-04-11  863778     7   P    301,P7
84705  79738  8.198160e+05 2017-04-25  863778     4   3       403
84706  79739  1.013158e+06 2017-03-22  863778     5   4       504
84707  79740  8.247820e+05 2017-05-12  863778     4   1       401
84708  79741  8.350900e+05 2017-05-03  863778     5   1       501
84709  79742  2.316518e+05 2017-03-22  863778     5   2    502,P8
84710  79742  5.791294e+04 2017-03-22  863778     8   P    502,P8
84711  79742  1.447823e+04 2017-03-22  863778     5   2    502,P8
84712  79742  3.619559e+03 2017-03-22  863778     8   P    502,P8

[84713 rows x 7 columns]

In [8]:
# unit_nums = []
# apt_nums = []
# parse_apartment_number("COMM", unit_nums, apt_nums)
# parse_apartment_number("503", unit_nums, apt_nums)
# parse_apartment_number("31C", unit_nums, apt_nums)
# print(unit_nums)
# print(apt_nums)

In [9]:
print(new_listings[2][:20])

0    2018-08-02
1    2018-03-26
2    2017-11-21
3    2015-04-11
4    2015-04-14
5    2016-02-02
6    2017-02-02
7    2018-04-30
8    2014-09-18
9    2015-01-10
10   2016-11-30
11   2015-12-03
12   2015-05-05
13   2015-05-11
14   2016-11-28
15   2017-01-09
16   2017-01-19
17   2017-11-26
18   2016-10-11
19   2017-03-17
Name: 2, dtype: datetime64[ns]

In [12]:
inner_merged = pd.merge(new_listings, new_closings, on=[3,4,5],how='inner')
print(inner_merged[:30])

    0_x        1_x        2_x   3   4   5   6_x  0_y        1_y        2_y  \
0     4   560000.0 2015-04-11  14  12   6  1206   30   550000.0 2015-06-29
1     5   585000.0 2015-04-14  14  14   7  1407   43   585000.0 2015-08-04
2     6   560000.0 2016-02-02  14  PH  03  PH03   46   560000.0 2016-02-03
3     7   575000.0 2017-02-02  14   5   8   508   28   565000.0 2017-06-05
4     9   629000.0 2014-09-18  14   9   4   904   25   615000.0 2015-06-23
5    10  1050000.0 2015-01-10  14  10   9  1009   29  1055000.0 2015-04-29
6    11  1900000.0 2016-11-30  14   8   5   805   14  1855000.0 2017-02-16
7    12  1995000.0 2015-12-03  14  13   5  1305   13  1900000.0 2016-08-18
8    13   525000.0 2015-05-05  14   8   3   803   35   535000.0 2015-07-21
9    14   575000.0 2015-05-11  14  13   3  1303   27   580000.0 2015-07-17
10   15   659000.0 2016-11-28  14  13   2  1302   42   600000.0 2017-03-09
11   16   618000.0 2017-01-09  14  13   7  1307   36   615000.0 2017-03-17
12   17   615000.0 2017-01-19  14  10   2  1002   16   615000.0 2017-06-02
13   18   570000.0 2017-11-26  14   8   7   807   18   506000.0 2018-05-08
14   19   598000.0 2016-10-11  14  PH  08  PH08   37   590000.0 2017-01-19
15   21   899000.0 2014-07-07  14  14   9  1409   24   978000.0 2014-10-08
16   22   575000.0 2017-06-03  14   5   3   503    8   580100.0 2017-11-10
17   23   499000.0 2014-01-17  14   5   7   507   19   515000.0 2014-04-24
18   24  1400000.0 2014-02-11  14   4   5   405   40  1460000.0 2014-04-28
19   25  1195000.0 2016-07-07  14   3   1   301   17  1139000.0 2017-01-20
20   26   595000.0 2017-05-30  14   7   3   703   26   595000.0 2017-08-10
21   27  1295000.0 2018-08-16  14  10   1  1001   47  1200000.0 2014-07-15
22   28  1195000.0 2017-06-03  14   2   1   201   15  1160000.0 2017-09-13
23   29  1150000.0 2014-05-16  14   7   1   701   11  1285250.0 2014-08-15
24   34  1955000.0 2017-02-02  14  14   5  1405   12  1220000.0 2018-08-10
25   35  1075000.0 2016-05-12  14   3   9   309   38  1078000.0 2016-09-30
26   36  3300000.0 2015-08-17  16  33   A   33A   62  2850000.0 2016-02-05
27   37  1350000.0 2016-01-26  16  26   D  26-D   57  1200000.0 2016-07-13
28   38  2950000.0 2017-08-31  16  15   A  15-A   59  1900000.0 2018-05-22
29   38  2950000.0 2017-08-31  16  15   A  15-A   60  2500000.0 2015-01-12

     6_y
0   1206
1   1407
2   PH03
3    508
4    904
5   1009
6    805
7   1305
8    803
9   1303
10  1302
11  1307
12  1002
13   807
14  PH08
15  1409
16   503
17   507
18   405
19   301
20   703
21  1001
22   201
23   701
24  1405
25   309
26   33A
27   26D
28   15A
29   15A

In [14]:
outer_merged = pd.merge(new_closings,new_listings,how='outer', on=[3,4,5])
outer_merged.loc[(outer_merged['1_x'].notnull()) & outer_merged['1_y'].notnull()]
print(outer_merged[:10])

   0_x           1_x        2_x   3     4  5       6_x   0_y       1_y  \
0  1.0  1.900000e+07 2016-04-15   6  COMM         COMM   NaN       NaN
1  2.0  7.537500e+06 2014-10-27   6  COMM     COMM,RES   NaN       NaN
2  2.0  4.710938e+05 2014-10-27   6  COMM     COMM,RES   NaN       NaN
3  2.0  1.884375e+06 2014-10-27   6   RES     COMM,RES   NaN       NaN
4  2.0  1.177734e+05 2014-10-27   6   RES     COMM,RES   NaN       NaN
5  4.0  2.675000e+07 2017-07-20   6   RES          RES   NaN       NaN
6  5.0  2.675000e+07 2017-07-20   6   RES          RES   NaN       NaN
7  6.0  2.200000e+06 2017-12-21   7   N/A  2       FL2   NaN       NaN
8  7.0  4.700000e+05 2016-04-13   7   N/A  5         5   NaN       NaN
9  8.0  5.801000e+05 2017-11-10  14     5  3       503  22.0  575000.0

         2_y  6_y
0        NaT  NaN
1        NaT  NaN
2        NaT  NaN
3        NaT  NaN
4        NaT  NaN
5        NaT  NaN
6        NaT  NaN
7        NaT  NaN
8        NaT  NaN
9 2017-06-03  503